num-stack-size              32
num-stack-cell-type         i64
ret-stack-size              16
ret-stack-cell-type         i64
localization                eng
code-page                   builtin
debug                       none
disable-garbage-collection  false
perform-deep-compilation    false
add-interrupt-protection    false